:root {
  --primary: #42b983;
  --primary-green: #006837;
  --secondary-green: #39b54a;
  --primary-blue: #1e54dc;
  --secondary-blue: #119dea;
  --secondary: #1a1a1a;
  --nav-bg: rgba(26, 26, 26, 0.77);
  --secondary-soft: #242424;
  --tertiary: #ccc;
  --danger: #f4433b;
  --warning: #ff9800;
  --text-light-1: #ccc;
  --text-light-2: #8e8e8e;
  --text-dark-1: #333;
  --text-dark-2: #3c403a;
  --text-dark-3: #4f544d;
  --text-hover-1: #999;
  --toggle-dark: #f1f1f1;
  --toggle-light: #ccc;
  --toggle-collapse: #ccc;
  --slider-1: #2f2f2f;
  --slider-2: #fff;
  --slider-3: #39b54a;
  --slider-4: #006837;
  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --fa-light: #838383;
  --box-shadow-bg: hsl(232, 11%, 15%);
  --box-shadow-bg-light: hsl(233, 8%, 19%);
  --hover-1: #fdec6e;
  --hover-2: var(--primary);
  --hover-3: var(--primary-blue);
  --skeleton-1: #333;
  --skeleton-2: #3d3d3d;
}

/* scrollbar stuff  */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--slider-1);
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--slider-3);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
label,
li {
  font-family: 'Lato', sans-serif;
  color: var(--text-light-1);
  transition: 0.3s ease-in-out;
}
a {
  text-decoration: none;
  font-weight: 900;
  transition: 0.3s ease-in-out;
}
p {
  font-family: 'Noto Sans', sans-serif;
  color: var(--text-light-1);
  transition: 0.3s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--secondary);
  scroll-behavior: smooth;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.collapse-active {
  overflow-y: hidden;
}

.router-link-active {
  color: var(--primary) !important;
}

.container-1 {
  background-color: var(--secondary-soft);
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
.custom-hr-1 {
  height: 1px;
  border: none;
  margin: 1rem;
  background-color: var(--divider-dark-1);
}
.fk-input-global {
  color: var(--text-light-1) !important;
}
.fk-input-global[type='submit'],
.fk-input-global[type='button'] {
  background-color: var(--primary) !important;
  color: var(--text-light-1);
}
.formkit-help {
  color: var(--text-light-1) !important;
}
.formkit-message {
  color: var(--danger) !important;
}

.subtitle {
  color: var(--text-light-2);
}
.form-date-wrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.number-pad {
  margin-top: 1.4rem;
}
.scroll-item {
  scroll-snap-align: start;
}
.gradient-text {
  /* Fallback: Set a background color. */
  background-color: var(--primary-blue);

  /* background-image: linear-gradient(45deg, #f3ec78, #af4261); */

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.g-text-1 {
  /* Create the gradient. */
  background-image: linear-gradient(45deg, var(--secondary-blue), var(--secondary-green));
}
.g-text-2 {
  background-image: linear-gradient(45deg, var(--primary-blue), var(--primary));
}
.g-rad-1 {
  background-image: radial-gradient(var(--secondary-green), var(--secondary-blue));
}
.text-block {
  max-width: 900px;
  line-height: 1.8rem;
  margin: 10px auto;
}

/* swiperJs  */
.swiper-slide-active {
  border: 1px solid var(--primary);
  padding: 0 1rem;
}
.swiper-slide {
  cursor: pointer;
  margin-bottom: 2rem;
  margin-top: 1rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  width: 80px;
  height: 80px;
  padding: 0.525rem;
  object-fit: contain;
}

.swiper {
  background-color: var(--secondary-soft);
}

[color-scheme='light'] {
  background-color: #fff;
  --text-light-1: var(--text-dark-1);
  --text-dark-2: #8a97a0;
  --text-dark-3: #757f86;
  --toggle-collapse: #333;
  --secondary: #fff;
  --nav-bg: rgba(255, 255, 255, 0.77);
  --secondary-soft: #f9f9f9;
  --divider-dark-1: rgba(60, 60, 60, 0.29);
  --slider-1: #f1f1f1;
  --slider-2: #8e8e8e;
  --slider-3: var(--primary-blue);
  --slider-4: var(--secondary-green);

  --box-shadow-bg: hsl(0, 0%, 100%);
  --box-shadow-bg-light: hsl(0, 0%, 100%);

  --hover-1: var(--primary-blue);
  --hover-2: var(--primary-blue);
  --hover-3: var(--primary);
  --skeleton-1: #f2f2f2;
  --skeleton-2: #e8e8e8;
}
